.btn-medium {
  color: $gray-title;
  border: 1px solid $gray-title;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 30px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: $gray-title;
}

@media screen and (max-width: 770px) {
.send{
    display: block;
    margin-top: 15px;
    margin: auto;
    background-color: snow;
    /* padding-top: 10
    /* float: right; */
}
}

.send{
    display: block;
    margin-top: 15px;
    background-color: snow;
    /* padding-top: 10px; */

    /* float: right; */

}

