
.page {
  background-color: $light-gray;
  h1, h2, h3, h4, p {
    color: $gray-title;
    line-height: 1.75em;
  }
}

.container1 {
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 30px;
  padding-right: 60px;


}

@media screen and (max-width: 768px) {
.container1 {
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 30px;
  padding-right: 60px;
  text-align: center;
}
}




.section {
  padding: 10px 60px;
  margin-left: 300px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: $gray;
}

.border{
border-style: solid none none none;
  border-width: 2px;
  margin-right: 50px;
  margin-left: 350px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 40px 40px;
    position: block;
    margin-left: 0px;
  }
}


.skills {
  height: 125px;
  padding: 20px 20px;
}
